<%- include('partials/header', { title: 'Giới thiệu' }); %>
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="h4">Giới thiệu</h1>
            <p class="mb-0">Bài tập nhóm</p>
        </div>
    </div>
    <%- include('partials/footer'); %>