<%- include('partials/header', { title: 'Danh sách người dùng' }); %>

<style>
  .users-table {
    table-layout: fixed;
  }

  .users-table th {
    font-weight: 600;
    color: #495057;
    vertical-align: middle;
  }

  .users-table td {
    vertical-align: top;
  }

  .users-table .col-stt {
    width: 64px;
  }

  .users-table .col-username {
    width: 130px;
  }

  .users-table .col-email {
    width: 220px;
  }

  .users-table .col-name {
    width: 150px;
  }

  .users-table .col-role {
    width: 100px;
  }

  .users-table .col-status {
    width: 140px;
  }

  .users-table .col-phone {
    width: 110px;
  }

  .users-table .col-gender {
    width: 90px;
  }

  .users-table .col-date {
    width: 110px;
  }

  .users-table .col-actions {
    width: 120px;
  }

  .users-table .text-nowrap {
    white-space: nowrap;
  }
</style>

<div data-auth-required="true" data-auth-role="admin">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <h3 class="mb-0">Danh sách người dùng</h3>
      <div class="text-muted">Quản lý cơ bản: xem / sửa / xoá.</div>
    </div>
    <div>
      <a class="btn btn-primary" href="/crud">Thêm người dùng</a>
    </div>
  </div>

  <div class="card border-0 shadow-sm rounded-4">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0 users-table">
          <colgroup>
            <col class="col-stt">
            <col class="col-username">
            <col class="col-email">
            <col class="col-name">
            <col class="col-role">
            <col class="col-status">
            <col class="col-phone">
            <col class="col-gender">
            <col class="col-date">
            <col class="col-actions">
          </colgroup>
          <thead class="thead-light">
            <tr>
              <th class="pl-4 text-nowrap">STT</th>
              <th class="text-nowrap">Username</th>
              <th class="text-nowrap">Email</th>
              <th>Họ tên</th>
              <th class="text-nowrap">Vai trò</th>
              <th class="text-nowrap">Trạng thái</th>
              <th class="text-nowrap">Điện thoại</th>
              <th class="text-nowrap">Giới tính</th>
              <th class="text-nowrap">Ngày tạo</th>
              <th class="text-right pr-4 text-nowrap">Thao tác</th>
            </tr>
          </thead>
          <tbody id="usersTableBody">
            <tr>
              <td colspan="10" class="text-center text-muted py-4">Đang tải dữ liệu...</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="p-3 text-danger d-none" id="usersPageError"></div>
    </div>
  </div>
</div>

<script src="/js/adminUsers.js"></script>
<%- include('partials/footer'); %>
